In [8]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, OneHotEncoder

dat = {
    'color':['red','green','blue','red'],
    'size':[10,15,20,12],
    'price':[20,30,40,25]
}
df = pd.DataFrame(dat)
df

   color  size  price
0    red    10     20
1  green    15     30
2   blue    20     40
3    red    12     25

In [9]:
# feature scaling
# z-score normalization 5  
scaler = StandardScaler()
df[['size','price']] = scaler.fit_transform(df[['size','price']])
df

   color      size     price
0    red -1.128330 -1.183216
1  green  0.199117  0.169031
2   blue  1.526564  1.521278
3    red -0.597351 -0.507093

In [24]:
encoder = OneHotEncoder()
encoded_data = encoder.fit_transform(df[['color']]).toarray()
encoded_df = pd.DataFrame(data=encoded_data, columns=encoder.get_feature_names_out(['color']))
encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0

In [26]:
final_df = pd.concat([df.drop('color',axis=1), encoded_df],axis=1)
final_df

       size     price  color_blue  color_green  color_red
0 -1.128330 -1.183216         0.0          0.0        1.0
1  0.199117  0.169031         0.0          1.0        0.0
2  1.526564  1.521278         1.0          0.0        0.0
3 -0.597351 -0.507093         0.0          0.0        1.0